header{
    text-align: center;
}

fieldset{
    background-color: #CACFD2;
    width: 30%;
    margin: 10% 35%;
}

form label{
    margin-left: 50px;
    margin-top: 20px;
    display: block;
}

input[type=text], input[type=password]{
    margin-left: 8%;
    width: 80%;
    
}

input[type=submit], #cancelar{
    float: right;
    margin-top: 20px;
}

input#login{
    margin-right: 8%;
}

div{
    clear: both;
}