body {
    background-image: url("../images/fondoGris.jpg");
    margin: 0;
}

.salto{
    width: 100%;
    height: 450px;
    clear: both;
}


.creadores {
    width: 100%;
    margin: auto;
    list-style: none;
    padding: 3px;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.creadores li {
    margin: 5px;

}

.creadores img {
    border: 4px black solid;
    width: 220px;
    height: 220px;
    border-radius: 50%;
}

.separador {
    margin: 7%;
    clear: both;

}

.pie_pag {
    padding-top: 3%;
    padding-bottom: 3%;
    color: white;
    border-top: 2px black solid ;
    border-bottom: 2px black solid ;
    margin: 0px;
    background-color: #4A4B4C; 
    text-align: center;
}

.copy {
    float: left;
    margin-left: 10px;
}

body p{
    text-align: justify;
}

body h1, h2, h3{
    text-align: center;
}

header {
    width: 100%;
}

#logo_principal{
    margin-left: 50px;
    width: 220px;
    height: 180px;
    /*width: 10%; */
    float: left;
}

#fieldset_busqueda{
    width: 45%; 
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 50px;
    float: left;
}

.iconos{
    width: 5.5%;
    margin-top: 20px;
    margin-left: 25px;
    float: left;
    text-align: center;
    display: block;
}

.jump{
    width: 100%;
    height: 5px;
    clear: both;
}

.navegacion_principal{
    width: 100%;
    float: left;
}

.navegacion_principal li{
    width: 20%;
    list-style-type: none;
    text-align: center;
    float: left;
    background-color: #AEB6BF ;
}

#informacion{
    width: 100%;
    float: left;
    background-color: #CACFD2;
    border: black solid; 
}

#general{
    width: 49%;
    padding-top: 50px;
    padding-left: 3%;
    float: left;
}

#img_general{
    width: 48%;
    float: right;
}

#img_general img{
    width: 50%;
    padding: 10px 190px;
}

#img_general span{
    width: 100%;
    text-align: center;
}

#algo{
    width: 100%;
    border: black solid;
    background-color: #CACFD2 ; 
    float: left;
}

#algo_img{
    width: 20%;
    padding: 10px 50px;
    float: left;
}

#algo article{
    width: 68%;
    padding: 70px 20px;
    float: left;
}

