body{
    background-image: url("../../images/fondoGris.jpg");
    background-color: blue;
}

header{
    text-align: center;
}

h1{
    width: 100%;
}

section{
    text-align: center;
}

input{
    width: 40%;
    height: 50px;
    font-size: 180%;
    margin: 10px 10px;
    background-color: #AEB6BF ;
}
