body{
    background-image: url("../../images/fondoGris.jpg");
    margin: 0;
}

header{
    text-align: center;
}

fieldset{
    background-color: #AEB6BF ;
    width: 30%;
    margin: 10% 35%;
}

form label{
    margin-left: 50px;
    margin-top: 20px;
    display: block;
    font-weight: bold;
}

input[type=text], input[type=password]{
    margin-left: 8%;
    width: 80%;
    background-color: #AEB6BF ;
}

input[type=submit], #cancelar{
    float: right;
    margin-top: 20px;
}

input#cambiar_contra{
    margin-right: 8%;
}

.error{
    display: block;
    margin-left: 50px;
    color: red;
}

div{
    clear: both;
}


