body{
    background-image: url("../../images/fondoGris.jpg");
    margin: 0;
}
header{
    text-align: center;
}

fieldset{
    background-color: #AEB6BF ;
    width: 500px;
    margin: 10% 35%;
}

form label{
    margin-left: 50px;
    margin-top: 20px;
    display: block;
}

input[type=text], input[type=password]{
    margin-left: 50px;
    width: 400px;
}

input[type=submit], input[type=button]{
    float: right;
    margin-top: 20px;
}

select{
    margin-left: 50px;
    width: 400px;
}

input#modificar{
    margin-right: 45px;
}

.error{
    display: block;
    margin-left: 50px;
    color: red;
}

div{
    clear: both;
}